<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item active">Courses</li>
  </ol>
</nav>
<p class="h5 text-info"><strong>Courses</strong>
  <span class="d-flex justify-content-end">
    <a href="javascript:void(0)" class="btn btn-danger btn-sm create-assessment">Create</a>
  </span>
</p>

<ul class="job-filter">
  <li>
    <select class="browser-default custom-select">
      <option value="">Filter By</option>
    </select>
  </li>
  <li>
    <select class="browser-default custom-select">
      <option value="">Sort By</option>
    </select>
  </li>
  <li>
    <input autofocus="" class="form-control" placeholder="Search..." type="text">
    <button class="btn btn-primary" type="button">
      <i aria-hidden="true" class="fa fa-search"></i></button>
  </li>
</ul>
