<div class="nav-side-menu">
  <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
  <div class="brand"><img src="assets/img/logo.png"></div>
  <div class="side-prop-listing">
    <figure><a routerlink="" href="javascript:void(0)"><img alt="" src="https://s3.amazonaws.com/regalix-lms/prod/media/private/default_avatar.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&amp;X-Amz-Credential=AKIAITO5WAFVYKFHVVKA%2F20200624%2Fus-east-1%2Fs3%2Faws4_request&amp;X-Amz-Date=20200624T072005Z&amp;X-Amz-Expires=3600&amp;X-Amz-SignedHeaders=host&amp;X-Amz-Signature=1554bd201d914a90b123ff46ac94c127f4631174e05682b15e3523755258b450"></a></figure>
    <div class="side-prop-des">
      <h5><a routerlink="" href="javascript:void(0)">Saurav Suman</a></h5>

    </div>
    <div class="clearfix"></div>
  </div>

      <div class="menu-list">

          <ul id="menu-content" class="menu-content collapse out">
              <li routerLinkActive="active">
                <a href="javascript:void(0)" routerLink="/manage/reports"><i class="fa fa-bar-chart"></i> Reports</a>
              </li>

              <!-- <li  data-toggle="collapse" data-target="#settings" class="collapsed">
                <a href="javascript:void(0)"><i class="fa fa-cogs"></i> Settings <span class="arrow"></span></a>
              </li>
              <ul class="sub-menu collapse" id="settings">
                  <li><a href="javascript:void(0)">General</a></li>
                  <li><a href="javascript:void(0)">LMS</a></li>
              </ul> -->

              <li routerLinkActive="active">
                <a href="javascript:void(0)" routerLink="/manage/courses"><i class="fa fa-book"></i> Courses</a>
              </li>
              <li routerLinkActive="active">
                <a href="javascript:void(0)" routerLink="/manage/assessment/list"><i class="fa fa-list-ol"></i> Assessment</a>
              </li>
              <li routerLinkActive="active">
                <a href="javascript:void(0)" routerLink="/manage/question-bank"><i class="fa fa-question"></i> Question Bank</a>
              </li>
              <!-- <li>
                <a href="javascript:void(0)"><i class="fa fa-sliders"></i> Slides</a>
              </li> -->

          </ul>
   </div>
</div>
