<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item active">Assessments</li>
  </ol>
</nav>
<p class="h5 text-info"><strong>Assessments</strong>
  <span class="d-flex justify-content-end">
    <a href="javascript:void(0)" class="btn btn-danger btn-sm create-assessment" routerLink="/manage/assessment/create">Create</a>
  </span>
</p>

<ul class="job-filter">
  <li>
    <input autofocus="" class="form-control" placeholder="Search..." type="text">
    <button class="btn btn-primary" type="button">
      <i aria-hidden="true" class="fa fa-search"></i></button>
  </li>
</ul>

<div class="row mb-5">
  <div class="col-md-3 mt-3">
    <div class="card p-3">
      <span class="text-info"><strong>Test for today</strong></span>
      <div class="ml-auto dote-drop" data-toggle="dropdown"  aria-haspopup="true" aria-expanded="false">
        <i aria-hidden="true" class="fa fa-chevron-circle-down" style="font-size: 20px" tooltip="Action"></i>
      </div>
      <ul class="dropdown-menu dropdown-menu-right">
        <li><a href="javascript:void(0)"> <i aria-hidden="true" class="fa fa-bar-chart"></i>Reports</a></li>
        <li><a href="javascript:void(0)"><i aria-hidden="true" class="fa fa-paper-plane-o"></i>Send</a></li>
        <li><a target="_self" href="javascript:void(0)"><i aria-hidden="true" class="fa fa-list"></i> Questions</a></li>
        <li><a target="_self" href="javascript:void(0)"><i aria-hidden="true" class="fa fa-pencil"></i>Edit</a></li>
        <li><a class="pointer"><i aria-hidden="true" class="fa fa-trash-o" title="Delete"></i>Delete</a></li>
        <li><a class="pointer"><i aria-hidden="true" class="fa fa-clone"></i> Clone</a></li>
        <li><a target="_blank" href="javascript:void(0)"> <i aria-hidden="true" class="fa fa-eye"></i> Preview</a></li>
      </ul>

      <span class="badge badge-success mt-4" style="width: 50px;">Active</span>
      <div class="row text-center mt-4">
        <div class="col-md-4 col-4 col-sm-4">
          <p class="h6 text-info">1</p>
          <p>Questions</p>
        </div>
        <div class="col-md-4 col-4 col-sm-4">
          <p class="h6 text-info">1</p>
          <p>Responds</p>
        </div>
        <div class="col-md-4 col-4 col-sm-4">
          <p class="h6 text-info">1</p>
          <p>Sections</p>
        </div>
      </div>
      <div class="card-footer">
        <div class="row">
          <div class="col-md-6 col-6 col-sm-6">
            <p>Created:</p>
            <p>Jun 30, 2020</p>
          </div>
          <div class="col-md-6 col-6 col-sm-6 text-right">
            <p>Last Updated:</p>
            <p>Jun 30, 2020</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3 mt-3">
    <div class="card p-3">
      <span class="text-info"><strong>Test for today</strong></span>
      <div class="ml-auto dote-drop" data-toggle="dropdown"  aria-haspopup="true" aria-expanded="false">
        <i aria-hidden="true" class="fa fa-chevron-circle-down" style="font-size: 20px" tooltip="Action"></i>
      </div>
      <ul class="dropdown-menu dropdown-menu-right">
        <li><a href="javascript:void(0)"> <i aria-hidden="true" class="fa fa-bar-chart"></i>Reports</a></li>
        <li><a href="javascript:void(0)"><i aria-hidden="true" class="fa fa-paper-plane-o"></i>Send</a></li>
        <li><a target="_self" href="javascript:void(0)"><i aria-hidden="true" class="fa fa-list"></i> Questions</a></li>
        <li><a target="_self" href="javascript:void(0)"><i aria-hidden="true" class="fa fa-pencil"></i>Edit</a></li>
        <li><a class="pointer"><i aria-hidden="true" class="fa fa-trash-o" title="Delete"></i>Delete</a></li>
        <li><a class="pointer"><i aria-hidden="true" class="fa fa-clone"></i> Clone</a></li>
        <li><a target="_blank" href="javascript:void(0)"> <i aria-hidden="true" class="fa fa-eye"></i> Preview</a></li>
      </ul>

      <span class="badge badge-success mt-4" style="width: 50px;">Active</span>
      <div class="row text-center mt-4">
        <div class="col-md-4 col-4 col-sm-4">
          <p class="h6 text-info">1</p>
          <p>Questions</p>
        </div>
        <div class="col-md-4 col-4 col-sm-4">
          <p class="h6 text-info">1</p>
          <p>Responds</p>
        </div>
        <div class="col-md-4 col-4 col-sm-4">
          <p class="h6 text-info">1</p>
          <p>Sections</p>
        </div>
      </div>
      <div class="card-footer">
        <div class="row">
          <div class="col-md-6 col-6 col-sm-6">
            <p>Created:</p>
            <p>Jun 30, 2020</p>
          </div>
          <div class="col-md-6 col-6 col-sm-6 text-right">
            <p>Last Updated:</p>
            <p>Jun 30, 2020</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3 mt-3">
    <div class="card p-3">
      <span class="text-info"><strong>Test for today</strong></span>
      <div class="ml-auto dote-drop" data-toggle="dropdown"  aria-haspopup="true" aria-expanded="false">
        <i aria-hidden="true" class="fa fa-chevron-circle-down" style="font-size: 20px" tooltip="Action"></i>
      </div>
      <ul class="dropdown-menu dropdown-menu-right">
        <li><a href="javascript:void(0)"> <i aria-hidden="true" class="fa fa-bar-chart"></i>Reports</a></li>
        <li><a href="javascript:void(0)"><i aria-hidden="true" class="fa fa-paper-plane-o"></i>Send</a></li>
        <li><a target="_self" href="javascript:void(0)"><i aria-hidden="true" class="fa fa-list"></i> Questions</a></li>
        <li><a target="_self" href="javascript:void(0)"><i aria-hidden="true" class="fa fa-pencil"></i>Edit</a></li>
        <li><a class="pointer"><i aria-hidden="true" class="fa fa-trash-o" title="Delete"></i>Delete</a></li>
        <li><a class="pointer"><i aria-hidden="true" class="fa fa-clone"></i> Clone</a></li>
        <li><a target="_blank" href="javascript:void(0)"> <i aria-hidden="true" class="fa fa-eye"></i> Preview</a></li>
      </ul>

      <span class="badge badge-success mt-4" style="width: 50px;">Active</span>
      <div class="row text-center mt-4">
        <div class="col-md-4 col-4 col-sm-4">
          <p class="h6 text-info">1</p>
          <p>Questions</p>
        </div>
        <div class="col-md-4 col-4 col-sm-4">
          <p class="h6 text-info">1</p>
          <p>Responds</p>
        </div>
        <div class="col-md-4 col-4 col-sm-4">
          <p class="h6 text-info">1</p>
          <p>Sections</p>
        </div>
      </div>
      <div class="card-footer">
        <div class="row">
          <div class="col-md-6 col-6 col-sm-6">
            <p>Created:</p>
            <p>Jun 30, 2020</p>
          </div>
          <div class="col-md-6 col-6 col-sm-6 text-right">
            <p>Last Updated:</p>
            <p>Jun 30, 2020</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3 mt-3">
    <div class="card p-3">
      <span class="text-info"><strong>Test for today</strong></span>
      <div class="ml-auto dote-drop" data-toggle="dropdown"  aria-haspopup="true" aria-expanded="false">
        <i aria-hidden="true" class="fa fa-chevron-circle-down" style="font-size: 20px" tooltip="Action"></i>
      </div>
      <ul class="dropdown-menu dropdown-menu-right">
        <li><a href="javascript:void(0)"> <i aria-hidden="true" class="fa fa-bar-chart"></i>Reports</a></li>
        <li><a href="javascript:void(0)"><i aria-hidden="true" class="fa fa-paper-plane-o"></i>Send</a></li>
        <li><a target="_self" href="javascript:void(0)"><i aria-hidden="true" class="fa fa-list"></i> Questions</a></li>
        <li><a target="_self" href="javascript:void(0)"><i aria-hidden="true" class="fa fa-pencil"></i>Edit</a></li>
        <li><a class="pointer"><i aria-hidden="true" class="fa fa-trash-o" title="Delete"></i>Delete</a></li>
        <li><a class="pointer"><i aria-hidden="true" class="fa fa-clone"></i> Clone</a></li>
        <li><a target="_blank" href="javascript:void(0)"> <i aria-hidden="true" class="fa fa-eye"></i> Preview</a></li>
      </ul>

      <span class="badge badge-success mt-4" style="width: 50px;">Active</span>
      <div class="row text-center mt-4">
        <div class="col-md-4 col-4 col-sm-4">
          <p class="h6 text-info">1</p>
          <p>Questions</p>
        </div>
        <div class="col-md-4 col-4 col-sm-4">
          <p class="h6 text-info">1</p>
          <p>Responds</p>
        </div>
        <div class="col-md-4 col-4 col-sm-4">
          <p class="h6 text-info">1</p>
          <p>Sections</p>
        </div>
      </div>
      <div class="card-footer">
        <div class="row">
          <div class="col-md-6 col-6 col-sm-6">
            <p>Created:</p>
            <p>Jun 30, 2020</p>
          </div>
          <div class="col-md-6 col-6 col-sm-6 text-right">
            <p>Last Updated:</p>
            <p>Jun 30, 2020</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3 mt-3">
    <div class="card p-3">
      <span class="text-info"><strong>Test for today</strong></span>
      <div class="ml-auto dote-drop" data-toggle="dropdown"  aria-haspopup="true" aria-expanded="false">
        <i aria-hidden="true" class="fa fa-chevron-circle-down" style="font-size: 20px" tooltip="Action"></i>
      </div>
      <ul class="dropdown-menu dropdown-menu-right">
        <li><a href="javascript:void(0)"> <i aria-hidden="true" class="fa fa-bar-chart"></i>Reports</a></li>
        <li><a href="javascript:void(0)"><i aria-hidden="true" class="fa fa-paper-plane-o"></i>Send</a></li>
        <li><a target="_self" href="javascript:void(0)"><i aria-hidden="true" class="fa fa-list"></i> Questions</a></li>
        <li><a target="_self" href="javascript:void(0)"><i aria-hidden="true" class="fa fa-pencil"></i>Edit</a></li>
        <li><a class="pointer"><i aria-hidden="true" class="fa fa-trash-o" title="Delete"></i>Delete</a></li>
        <li><a class="pointer"><i aria-hidden="true" class="fa fa-clone"></i> Clone</a></li>
        <li><a target="_blank" href="javascript:void(0)"> <i aria-hidden="true" class="fa fa-eye"></i> Preview</a></li>
      </ul>

      <span class="badge badge-success mt-4" style="width: 50px;">Active</span>
      <div class="row text-center mt-4">
        <div class="col-md-4 col-4 col-sm-4">
          <p class="h6 text-info">1</p>
          <p>Questions</p>
        </div>
        <div class="col-md-4 col-4 col-sm-4">
          <p class="h6 text-info">1</p>
          <p>Responds</p>
        </div>
        <div class="col-md-4 col-4 col-sm-4">
          <p class="h6 text-info">1</p>
          <p>Sections</p>
        </div>
      </div>
      <div class="card-footer">
        <div class="row">
          <div class="col-md-6 col-6 col-sm-6">
            <p>Created:</p>
            <p>Jun 30, 2020</p>
          </div>
          <div class="col-md-6 col-6 col-sm-6 text-right">
            <p>Last Updated:</p>
            <p>Jun 30, 2020</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3 mt-3">
    <div class="card p-3">
      <span class="text-info"><strong>Test for today</strong></span>
      <div class="ml-auto dote-drop" data-toggle="dropdown"  aria-haspopup="true" aria-expanded="false">
        <i aria-hidden="true" class="fa fa-chevron-circle-down" style="font-size: 20px" tooltip="Action"></i>
      </div>
      <ul class="dropdown-menu dropdown-menu-right">
        <li><a href="javascript:void(0)"> <i aria-hidden="true" class="fa fa-bar-chart"></i>Reports</a></li>
        <li><a href="javascript:void(0)"><i aria-hidden="true" class="fa fa-paper-plane-o"></i>Send</a></li>
        <li><a target="_self" href="javascript:void(0)"><i aria-hidden="true" class="fa fa-list"></i> Questions</a></li>
        <li><a target="_self" href="javascript:void(0)"><i aria-hidden="true" class="fa fa-pencil"></i>Edit</a></li>
        <li><a class="pointer"><i aria-hidden="true" class="fa fa-trash-o" title="Delete"></i>Delete</a></li>
        <li><a class="pointer"><i aria-hidden="true" class="fa fa-clone"></i> Clone</a></li>
        <li><a target="_blank" href="javascript:void(0)"> <i aria-hidden="true" class="fa fa-eye"></i> Preview</a></li>
      </ul>

      <span class="badge badge-success mt-4" style="width: 50px;">Active</span>
      <div class="row text-center mt-4">
        <div class="col-md-4 col-4 col-sm-4">
          <p class="h6 text-info">1</p>
          <p>Questions</p>
        </div>
        <div class="col-md-4 col-4 col-sm-4">
          <p class="h6 text-info">1</p>
          <p>Responds</p>
        </div>
        <div class="col-md-4 col-4 col-sm-4">
          <p class="h6 text-info">1</p>
          <p>Sections</p>
        </div>
      </div>
      <div class="card-footer">
        <div class="row">
          <div class="col-md-6 col-6 col-sm-6">
            <p>Created:</p>
            <p>Jun 30, 2020</p>
          </div>
          <div class="col-md-6 col-6 col-sm-6 text-right">
            <p>Last Updated:</p>
            <p>Jun 30, 2020</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3 mt-3">
    <div class="card p-3">
      <span class="text-info"><strong>Test for today</strong></span>
      <div class="ml-auto dote-drop" data-toggle="dropdown"  aria-haspopup="true" aria-expanded="false">
        <i aria-hidden="true" class="fa fa-chevron-circle-down" style="font-size: 20px" tooltip="Action"></i>
      </div>
      <ul class="dropdown-menu dropdown-menu-right">
        <li><a href="javascript:void(0)"> <i aria-hidden="true" class="fa fa-bar-chart"></i>Reports</a></li>
        <li><a href="javascript:void(0)"><i aria-hidden="true" class="fa fa-paper-plane-o"></i>Send</a></li>
        <li><a target="_self" href="javascript:void(0)"><i aria-hidden="true" class="fa fa-list"></i> Questions</a></li>
        <li><a target="_self" href="javascript:void(0)"><i aria-hidden="true" class="fa fa-pencil"></i>Edit</a></li>
        <li><a class="pointer"><i aria-hidden="true" class="fa fa-trash-o" title="Delete"></i>Delete</a></li>
        <li><a class="pointer"><i aria-hidden="true" class="fa fa-clone"></i> Clone</a></li>
        <li><a target="_blank" href="javascript:void(0)"> <i aria-hidden="true" class="fa fa-eye"></i> Preview</a></li>
      </ul>

      <span class="badge badge-success mt-4" style="width: 50px;">Active</span>
      <div class="row text-center mt-4">
        <div class="col-md-4 col-4 col-sm-4">
          <p class="h6 text-info">1</p>
          <p>Questions</p>
        </div>
        <div class="col-md-4 col-4 col-sm-4">
          <p class="h6 text-info">1</p>
          <p>Responds</p>
        </div>
        <div class="col-md-4 col-4 col-sm-4">
          <p class="h6 text-info">1</p>
          <p>Sections</p>
        </div>
      </div>
      <div class="card-footer">
        <div class="row">
          <div class="col-md-6 col-6 col-sm-6">
            <p>Created:</p>
            <p>Jun 30, 2020</p>
          </div>
          <div class="col-md-6 col-6 col-sm-6 text-right">
            <p>Last Updated:</p>
            <p>Jun 30, 2020</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
