<nav class="navbar navbar-expand-lg navbar-light">
  <div class="navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
          <button class="btn btn-warning btn-sm" type="button" style="width: 200px; text-align: left; font-size: 10px; font-weight: 600;">
              Regalix Inc
          </button>
      </li>
    </ul>
    <span class="navbar-text white-text">
      <a href="javascript:void(0);"><i class="fa fa-sign-out fa-2x text-warning"></i></a>
    </span>
  </div>
</nav>
